.marketing

  section
    padding: 60px 0

  hr
    border-color: #F05F40
    border-width: 3px
    max-width: 50px

#service
  .service-box
    text-align: center
    margin: 20px 0 0 0

    img
      display: block
      margin: 15px auto
