#calculator
  .table
    margin: 0

    tr, td, tbody, thead th
      border: 0
      vertical-align: middle

    td
      padding: 3px

    tbody+tbody
      border-top: 0

    .products
      padding: 0px

      td
        padding-left: 15px

    p
      margin-bottom: 5px

    .lead
      font-weight: bold

  .prouct-table
    th
      padding: 0px

    .product-title
      width: 60%

    .product-price
      width: 20%
      text-align: center

    .product-category
      padding: 10px 15px
      background: $primary-color
      border-top: 15px solid #fff
      border-bottom: 15px solid #fff
      font-weight: bolder
      color: #fff

    .form-control
      width: auto
      display: inline-block
      margin: 0 15px
      padding: 5px 10px

    @include media-breakpoint-down(md)
      .form-control
        margin-left: 0

      .col-form-label
        display: block


  .tab-wrapper
    padding: 20px
    border: 3px solid $primary-color

  .nav-tabs
    border-bottom: 0

    .nav-link
      border-radius: 0
      border: 3px solid transparent
      color: #979797
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .nav-item
      margin-bottom: -3px

    .nav-link:hover
      border: 3px solid $primary-color
      color: $primary-color

    .nav-item.show .nav-link,
    .nav-link.active
      border: 3px solid $primary-color
      background: $primary-color
      color: #fff

  .control-calc-box
    margin: 30px 0 20px 0

  .price-total
    td
      border-top: 20px solid #fff
      border-bottom: 20px solid #fff

    hr
      max-width: 100%

  .prouct-table.estimate-table
    .product-category
      background: #fff
      color: $dark-grey
      border: 0
      padding-left: 0

  .control-estimate
    .btn
      margin-right: 20px

.wizard
  .multi-step,
  fieldset
    width: 100%

  fieldset
    label
      display: block

  ol.progtrckr
    list-style-type: none
    padding: 0
    text-align: center

    li
      display: inline-block
      cursor: pointer
      color: $primary-color
      background-color: $light-grey
      padding: 9px 15px 10px 15px
      // padding: 9px 15px 10px 40px
      position: relative

      // &:before
      //   width: 0px
      //   height: 0px
      //   border-top: 20px inset transparent
      //   border-bottom: 20px inset transparent
      //   border-left: 20px solid #ffffff
      //   position: absolute
      //   content: ""
      //   top: 0
      //   left: 0
      //
      // &:after
      //   width: 0px
      //   height: 0px
      //   border-top: 20px inset transparent
      //   border-bottom: 20px inset transparent
      //   border-left: 20px solid $light-grey
      //   position: absolute
      //   content: ""
      //   top: 0
      //   right: -20px
      //   z-index: 2
      //
      // &:first-child
      //   border-top-left-radius: 4px
      //   border-bottom-left-radius: 4px
      //   padding-left: 15px
      //
      //   &:before
      //     display: none
      //
      // &:last-child
      //   border-top-right-radius: 4px
      //   border-bottom-right-radius: 4px
      //
      //   &:after
      //     display: none

    li
      &.progtrckr-doing,
      &.progtrckr-done
        color: #fff
        background-color: $primary-color

      &.progtrckr-doing
        background-color: $primary-color-light

      &.progtrckr-todo
        &:hover
          color: #fff
          background-color: $primary-color-light

      // &:after
      //   border-left: 20px solid $primary-color

    em
      display: inline-block
      font-weight: normal
      font-style: normal
      padding: 0 10px 0 5px
