.portfolio-slider
  position: fixed
  top: 0px
  left: 0px
  height: 100%
  width: 100%
  z-index: 625

  &__background
    position: fixed
    top: 0px
    left: 0px
    height: 100%
    width: 100%
    background: rgba(251, 251, 251, 0.9)
    z-index: 650

  &__close-button
    z-index: 999
    position: relative

    span
      font-size: 30px
      padding: 20px 30px
      display: block

  &__wrapper
    width: 60%
    margin: auto
    position: absolute
    top: 50%; left: 50%
    transform: translate(-50%,-50%)
    z-index: 675

  .carousel-item
    width: 100%

  .carousel-item > img
    object-fit: cover
    width: 100%
